body {
  background-image: linear-gradient(to top right, #ffffff, #f0f0f0);
  color: #fff;
}

a {
  color:#fff;
  text-decoration: none
}

a:hover{
  color: #EAF6F6;
}

h5 {
  font-size: 0.6rem;
}

.section {
  min-height: 100vh;
  padding: 10%;
}


/* ________ NAVBAR SIDE ------------ */
div.bar {
text-align: center;
position: fixed;
margin-top: 15%;
margin-left: 1.5%;
width: 70px;

opacity: 95%;
Border-radius: 10px;
z-index: +1;
}

.cBar:nth-child(1) {
  margin-top: 6%;
  margin-left: 5%;
  padding: 10%;
  position: relative;
  width: 65px;

  Border-radius: 10px;


  z-index: auto;
}
.profilePic{
  align-items: center;
    height:45px;
    width:45px;
    Border-radius: 100%;
}
.cBar:nth-child(2) {}
.cBar:nth-child(3) {}
.cBar:nth-child(4) {}
.cBar:nth-child(5) {}

.aboutBar{
  background-image: linear-gradient(to bottom right, #FBD46D , #F0A500);
  height: 95px;
  color: #323232;
  transition: width 0.1s, height 0.2s, transform 0.2s;

}

.aboutTxt {
  padding-top: 30%;
  font-weight: bold;

}

.sec1Bar{
  background-color: #393E46;
  height: 65px;
  transition: width 0.1s;


}

.sec2Bar{
  background-color: #393E46;
  height: 65px;
    transition: width 0.1s;
}

.sec3Bar{
  background-color: #393E46;
  height: 65px;
    transition: width 0.1s;
}

.sec4Bar{
  background-color: #393E46;
  height: 65px;
    transition: width 0.1s;
}
.sec5Bar{
  background-color: #393E46;
  height: 65px;
    transition: width 0.1s;
}


.cBar:hover {
  width: 70px;
  margin-left: 8%;
  background-image: linear-gradient(to bottom left, rgb(35, 185, 231) ,rgb(66, 211, 255));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*----------- ANIMATION SECTION */


.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


/* VISIT CARD ----------------- */

* {
  box-sizing: border-box;
}




a {
  text-decoration: none;
}



.card {
  background-image: linear-gradient(to top right, #000, #727272);
  background-size: cover;
  min-width: 400px;
  min-height: 250px;
  margin: auto;
  padding: 40px;
  position: relative;
  color: #d6d6d6;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #00000033;


}

.card::before {
  content: "";
  background: #18181866;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 25px;

}



/* Slight parallax effect on hover */
.card:hover .content {
  transform: translateZ(12px);
}

.content {
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}

/* Demo only */
.container {
  margin-top: 100px;
}

.photo-cred {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


/* ----------- CONTENT--------------- */



.heading{

  
  color:#323232;
  font-family: Arial, Helvetica, sans-serif;
}

.title-title {

}

.title-h1 {
  font-size: 5rem;
  font-weight: 700;
}

.title-subtitle{
  color: #929292;
  font-size: 1.6rem;
  margin-bottom: 15px;
}


.card-size {
  max-width: 100px;
  font-family: 'Courier New', Courier, monospace;
}




.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;

}

.flex-item-left {
  padding: 10px;
  padding-left: 10%;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 900px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
    padding-left: 15%;
  }

  .flex-item-right {
    max-width: 100px;
  }


  .title-h1 {
    font-size: 3rem;
  }

  .title-subtitle{
    font-size: 1.1rem;
  }
  
  .card-size {
    scale: 90%;
  }
  

}





#sec1 {
  display: grid;
  place-items: center;
  align-content: center;
}

#sec2 {
  display: grid;
  place-items: center;
  align-content: center;
}

#sec3 {
  display: grid;
  place-items: center;
  align-content: center;
}

#sec4 {
  display: grid;
  place-items: center;
  align-content: center;
}

#sec5 {
  display: grid;
  place-items: center;
  align-content: center;
}
/* To Get Animation
Inside <Section>
First Parent <div class="logos">
childs: <div class="logos hidden">
        <div class="logos hidden">
        <div class="logos hidden">
        <div class="logos hidden">
*/



.logos {
  display: fix;
}

.logo:nth-child(2){
  transition-delay: 200ms;
}

.logo:nth-child(3){
  transition-delay: 400ms;
}

.logo:nth-child(4){
  transition-delay: 600ms;
}

.logo:nth-child(5){
  transition-delay: 800ms;
}





/* --- FOOTER ---*/

footer{
  text-align: center;
  padding: 100px;
  background-color: #333333;
  font-family: sans-serif;
}









